<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>


<!--ВЕРХНЯЯ НАВИГАЦИОННАЯ ПАНЕЛЬ -->
<nav class="navbar navbar-dark bg-dark">
    <div>
        <span class="navbar-text font-weight-bold text-white" th:text="${authUser.getUsername()}">asdasd</span>
        <span class="navbar-text text-white">with roles:</span>
        <span class="navbar-text text-white mr-1" th:each="role : ${authUser.getAuthorities()}">
                <a th:text="${role.getAuthority().substring(5)}">roles</a>
        </span>
    </div>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<!--БОКОВАЯ ПАНЕЛЬ-->
<div class="row">
    <div class="col pt-4 pr-0">
        <div class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/admin/users">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/users/{id}(id=${user.getId()})}">User</a>
            </li>
        </div>
    </div>
    <!--ВНУТРЕННЯЯ НАВИГАЦИОННАЯ ПАНЕЛЬ -->
    <div class="col-10 bg-light vh-100">
        <div class="p-3 justify-content-center">
            <h1 class="pb-3">Admin panel</h1>
            <div>
                <div class="mr-3">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">New user</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="mr-3 border rounded-lg bg-white">
                <div class="tab-content" id="myTabContent">
                    <div th:replace="users-table :: users-table"/>
                    <div th:replace="new-user :: new-user"/>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>