<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:fragment="modal-edit" class="modal fade" id='modal-edit' tabindex="-1" role="dialog"
     aria-labelledby="editUserLabel" aria-hidden="true">

    <div class="modalEdit modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="col-auto mx-auto">
                    <div class="modal-body text-center">
                        <div class="form-group">
                            <label class="font-weight-bold m-0">ID</label>
                            <input disabled type="text" id="idEdit" class="form-control" name="id">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold m-0">First name</label>
                            <input required type="text" id="nameEdit" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold m-0">Last name</label>
                            <input required type="text" id="surnameEdit" class="form-control" name="surname">

                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold m-0">Age</label>
                            <input required type="number" id="ageEdit" class="form-control" name="age">

                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold m-0">Email</label>
                            <input required type="email" id="emailEdit" class="form-control" name="email">

                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold m-0">Password</label>
                            <input required type="password" id="passwordEdit" class="form-control" name="password">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold m-0">Role</label>
                            <select required multiple class="custom-select" id="rolesEdit" size="2" name="roles">
                                <option value='ROLE_ADMIN'>ADMIN</option>
                                <option value='ROLE_USER'>USER</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="modalEditButton" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>

</div>

<script type="text/javascript" src="/static/main.js/" th:src="@{/main.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>